# Данные для анализа (все вложенные файлы)
**/Данные для анализа/

# Виртуальное окружение
project_1/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Большие файлы данных
*.csv
*.txt

# Файлы моделей и библиотек
*.dll
*.so
*.pkl
*.joblib